/*
@font-face { font-family: Roboto; src: url("../fonts/RobotoCondensed-Regular.ttf"); }
@font-face { font-family: Roboto-Light; src: url("../fonts/RobotoCondensed-Light.ttf"); }
@font-face { font-family: Roboto-Bold; src: url("../fonts/RobotoCondensed-Bold.ttf"); }
*/

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
    color: #ffffff;
}

html {
	width: 100%;
	height: 100%;
}

body {
	width: 100%;
	height: 100%;
	background-color: #000000;
}

#wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	height: 90%; /* Leave some space at bottom of screen for better display of time axis */
	padding: 2px 0;
}


/* DASH */
#dash {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 75%;
	height: 40%;
}

#dash-bg {
	display: flex;
	align-items: center;
}

#dash-bg-value {
	font-size: 60px;
}

#dash-bg-delta {
	display: none;
	font-size: 30px;
	margin-left: 12px;
}

#dash-time {
	font-size: 30px;
}


/* GRAPH */
#graph {
	width: 100%;
	height: 60%;
}

#graph-axis-time-now {
	stroke-width: 1;
	stroke: #ffffff;
	stroke-dasharray: 5;
	opacity: 0.25;
}

.graph-axis-time-tick {
	stroke-width: 1;
	stroke: #ffffff;
}

.graph-axis-time-label {
	text-anchor: end;
	font-size: 15px;
	fill: #ffffff;
}

.graph-bg-target {
	display: none;
	stroke-width: 2;
}

#graph-bg-target-low {
	stroke: #e50000;
}

#graph-bg-target-high {
	stroke: #ff9d2f;
}

.graph-bg {
	fill: #999999;
}