@font-face { font-family: Ubuntu; src: url("../fonts/Ubuntu-Regular.ttf"); }
@font-face { font-family: Ubuntu-Light; src: url("../fonts/Ubuntu-Light.ttf"); }
@font-face { font-family: Ubuntu-Bold; src: url("../fonts/Ubuntu-Bold.ttf"); }

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: Ubuntu, sans-serif;
    color: #eeeeee;
}

html {
	width: 100%;
	height: 100%;
}

body {
	width: 100%;
	height: 100%;
	background-color: #000000;
}

#wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	height: 90%; /* Leave some space at bottom of screen for better display of time axis */
	padding: 2px 0;
}


/* DASH */
#dash {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 75%;
	height: 40%;
}

#dash-bg {
	display: flex;
	align-items: center;
}

#dash-bg-value {
	font-size: 64px;
	font-weight: bold;
}

#dash-bg-delta {
	display: none;
	font-size: 24px;
	margin: 8px 0 0 12px;
}

#dash-time {
	font-size: 26px;
	margin-top: 2px;
}


/* GRAPH */
#graph {
	width: 100%;
	height: 60%;
}

.graph-bg-target {
	stroke-width: 2;
}

#graph-bg-target-low {
	stroke: #e50000;
}

#graph-bg-target-high {
	stroke: #ff9d2f;
}

.graph-bg {
	fill: #999999;
}

#graph-axis-time-now {
	stroke-width: 1;
	stroke: #eeeeee;
	stroke-dasharray: 5;
	opacity: 0.4;
}

.graph-axis-time-tick {
	stroke-width: 1;
	stroke: #eeeeee;
}

.graph-axis-time-label {
	text-anchor: end;
	font-size: 15px;
	fill: #eeeeee;
}